<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Add Pilot</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>

<div class="container-fluid">
    <h2>Ruangan Baru</h2>
    <h4> (*) harus diisi</h4>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Tambah Pilot
                </div>
                <div class="card-body">
                    <form th:action="@{/ruangan/add}" th:object="${ruangan}" method="POST">
                        Kode Ruang: <br>
                        <input type="text" name="kode_ruang" class="form-control"/>
                        <br>
                        Deskripsi Ruangan: <br>
                        <input type="text" name="deskripsi" class="form-control"/>
                        <br>
                        Auditorium: <br>
                        <input type="radio" name="tipe" value="1" class="form-control"/>
                        <br>
                        Office Room: <br>
                        <input type="radio" name="tipe" value="2" class="form-control"/>
                        <br>
                        Panjang: <br>
                        <input type="text" name="panjang" class="form-control"/>
                        <br>
                        Lebar: <br>
                        <input type="text" name="lebar" class="form-control"/>
                        <br>
                        Harga Sewa: <br>
                        <input type="text" name="harga_sewa" class="form-control"/>
                        <br>
                        Lokasi Ruangan: <br>
                        <input type="text" name="lokasi" class="form-control"/>
                        <br>
                        Fasilitas: <br>
                        <input type="text" name="fasilitas" class="form-control"/>
                        <br>
                        Not Available <br>
                        <input type="radio" name="status" value="0" class="form-control"/>
                        <br>
                        Available: <br>
                        <input type="radio" name="status" value="1" class="form-control"/>
                        <br>

                        <br><br>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>