<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>View All Jabatan</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <script type="text/javascript" charset="utf8" src="	https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css"/>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<br>
<table id="ruangan">
    <thead>
    <tr>
        <th>Kode Ruangan</th>
        <th>Deskripsi</th>
        <th>Tipe</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each = "ruangan: ${listRuangan}">
        <td><a th:text="${ruangan.kode_ruang}" th:href="@{/ruangan/view?id=} + ${ruangan.id}"></a></td>
        <td th:text="${ruangan.deskripsi}"></td>
        <td th:text="${ruangan.tipe}"></td>
        <td th:text="${ruangan.status}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>